body {
    font-family: Verdana, Agency FB;
    margin: 0;
    padding: 0;
    background-image: url('images/milk.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-image: url('https://www.freepik.com/free-photo/plain-smooth-green-paper-background_15557577.htm#fromView=keyword&page=1&position=2&uuid=fa5f609e-6130-4810-ad20-af44d6392910&query=Solid+color+background');
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

.cart {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
}

.product img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-image: url('images/bb.jpg');
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fee;
    margin-top: 20px;
}

